.navbarContainer {
    margin: 20px auto;
    padding: 10px;
    background-color: #333;
    color: #fff;
    width: 100%;
    text-align: center;
  }
  
  .navbarContainer ul {
    list-style-type: none;
    padding: 0;
  }
  
  .navbarContainer ul li {
    display: inline;
    margin-right: 10px;
  }
  
  .navbarContainer ul li a {
    color: #fff;
    text-decoration: none;
  }
  